<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抖音视频去重系统 - Demo</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="https://s1.pstatp.com/ee/bytedance-home/static/img/favicon.ico" >

    <meta name="theme-color" content="#ededed">
    <meta name="description" content="ByteCamp 2019"/>
    <meta name="keywords" content="ByteDance, TikTok">
    <meta name="author" content="ByteCamp - Engineering">

    <!-- Bootstrap required libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-uhut8PejFZO8994oEgm/ZfAv0mW1/b83nczZzSwElbeILxwkN491YQXsCFTE6+nx"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br>
    <h1>抖音视频去重系统 - Demo</h1>
    <form action="upload" method="post" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="video_file" name="video_file">
            <label class="custom-file-label" for="video_file">Choose file</label>
        </div>
        <br><br>
        <input type="submit" class="btn btn-primary mb-2" value="提交">
    </form>
    <br>
    <a href="/">Back</a>
</div>
</body>
</html>
